# /
/Makefile.in
/Makefile
/configure
/aclocal.m4
/autom4te.cache
/autoscan.log
/config.h.in
/.deps
/install-sh
/missing
/depcomp
/config.log
/config.status

# /src/
/src/config.h.in
/src/.deps
/src/.dirstamp
/src/stamp-h1

# /tests/
/tests/Makefile.in

# /examples
/examples/INT0.fvd
/examples/INT0.fvi
/examples/INT01.fvd
/examples/INT01.fvi
/examples/INT011.fvd
/examples/INT011.fvi
/examples/INT01R.fvd
/examples/INT01R.fvi
/examples/INT1.fvd
/examples/INT1.fvi
/examples/INT10.fvd
/examples/INT10.fvi
/examples/INT11.fvd
/examples/INT11.fvi
/examples/INT1RR.fvd
/examples/INT1RR.fvi
/examples/INTR.fvd
/examples/INTR.fvi
/examples/INTR0.fvd
/examples/INTR0.fvi
/examples/INTR1.fvd
/examples/INTR1.fvi
/examples/INTRR.fvd
/examples/INTRR.fvi
/examples/XRint01.fvd
/examples/XRint01.fvi
/examples/Y.fvd
/examples/Y.fvi
/.btmp
/doc/UserGuide.log
/doc/UserGuide.out
/doc/UserGuide.pdf
/doc/UserGuide.toc
/omicabelnomm
/src/config.h
/src/omicabelnomm-AIOwrapper.o
/src/omicabelnomm-Algorithm.o
/src/omicabelnomm-Utility.o
/src/omicabelnomm-main.o
/tests/.deps/tests_test_omicabelnomm-test.Po
